@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height      : 100vh;
    background-color: #8f00ff;
    user-select     : none;
}

#root {
    min-height: 100vh;
}

.background-enter-active {
    background-color: #c77dff;
    transition      : background-color 0.5s ease-in-out;
}

.flags {
    rotate: 12deg;
}

.fade-out {
    opacity   : 0;
    transition: opacity 500ms ease-out;
}